body {
  margin: 0;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
}

form {
  margin: 10px;
}

main , form , #infoSection , .input {
  display: flex;
  flex-direction: column;
}

header {
  background-color: blue;
  text-align: center;
}

#submitBtn {
  background-color: rgb(18, 204, 18);
}

#goBackBtn {
  background-color: rgb(245, 189, 31);
}

header , #submitBtn , #goBackBtn {
  color: white;
}

.dropDown {
  -webkit-appearance: none;
  background: url(./Images/2b07.png) no-repeat right;
  background-color: white;
  background-size: 25px 25px;
}

@media screen and ( max-width : 500px ) {

  header , #fullName , .dropDown {
    border: 1px solid darkblue;
  }

  button , #fullName , .dropDown {
    border-radius: 5px;
  }

  form {
    gap: 8px;
    padding-top: 20px;
  }

  .input {
    gap: 3px;
  }

  #infoSection {
    gap: 13px;
  }

  #fullName {
    height: 30px;
    font-size: 20px;
  }

  .dropDown {
    height: 35px;
    font-size: 20px;
  }

  #buttons {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
  }

  button {
    padding: 10px 20px;
    font-size: 20px;
  }
}

@media screen and ( min-width : 501px ) {

  form , #infoSection {
    gap: 15px;
  }

  button , #fullName , .dropDown {
    border-radius: 5px;
  }

  #fullName {
    height: 30px;
    font-size: 20px;
  }

  .dropDown {
    height: 35px;
    font-size: 20px;
  }

  button {
    font-size: 16px;
    height: 35px;
  }

  #buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 300px;
    justify-content: center;
  }

  button:hover {
    font-size: 20px;
  }
}
